<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openjava.datalake.push.dao.DlPushListenErrorLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.openjava.datalake.push.domain.DlPushListenErrorLog">
        <id column="ID" property="id" />
        <result column="LISTEN_LOG_ID" property="listenLogId" />
        <result column="MESSAGE" property="message" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="RETRY_TIMES" property="retryTimes" />
    </resultMap>

</mapper>
